<%- include('partials/header'); -%>
<div class="container mt-4">
    <p class="text-center fs-1 blog fw-bold"><%= blog.title%></p>
    <p class="fs-5 lh-base blog"><%= blog.content%></p>
</div>
<%- include('partials/footer'); -%>